[Unit]
Description=Redis Sentinel
After=network.target

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/lib/redis
ExecStart=/usr/sbin/redis-sentinel /etc/sentinel.conf
ExecStop=/usr/bin/redis-cli shutdown
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
