[Unit]
Description=Redis Sentinel
After=network.target

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/lib/redis
ExecStart=/usr/bin/redis-sentinel /etc/redis-sentinel.conf
ExecStop=/usr/bin/redis-shutdown sentinel
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
